<div class="container-fluid p-0 d-flex">
    <app-sidebar></app-sidebar>

    <div class="container-fluid px-5">
        <div class="container-fluid">
            <div class="top-card">
                <div class="row w-100 mx-auto d-flex p-2">
                    <p class="my-auto ml-3">C & I Customer Report</p>
                    <img class="ml-auto logo-top" src="../../../assets/logo.png">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row mx-auto my-4 w-100 border-bottom">
                <button type="button" class="btn btn-transparent mr-3 font-14px" (click)="goBack()">Back</button>
                <button type="button" class="btn btn-transparent border-bottom-custom font-14px">C & I Customer
                    Report</button>
            </div>
            <div class="search float-right w-25">
                <i class="fa fa-search icon"></i>
                <input class="w-100" placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="search()">
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mx-auto w-100">
                <div *ngFor="let cardItem of cardData;let i =index">
                    <div class="card card-details my-3 mr-4" *ngIf="seeMore || i < 8" [@myAnimation]="seeMore">
                        <div class="modal-content" *ngIf="selectedItem === cardItem" [@myAnimation]="selectedItem === cardItem">
                        <div class="modal-body">
                            <div class="row d-flex w-100 mx-auto">
                                <p class="w-75 header font-weight-700 font-20px my-auto">{{selectedItem.name}}</p>
                                <span class="ml-auto">
                                    <img src="../../../assets/chart.png">
                                </span>
                            </div>
                            <hr class="mb-0">
                            <div class="row mx-auto w-100 d-block my-1">
                                <p class="font-11px color-purple mb-1">Refresh Frequency</p>
                                <p class="font-10px">Daily</p>
                            </div>
                            <div class="row mx-auto w-100 d-block my-1">
                                <p class="font-11px color-purple mb-1">Description</p>
                                <p class="font-10px">{{selectedItem.description}}</p>
                            </div>
                            <div class="row mx-auto w-100 d-block my-1">
                                <p class="font-11px color-purple mb-1">Report Owner</p>
                                <p class="font-10px">{{selectedItem.reportowner}}</p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-border w-100" (click)="selectedItem = ''">Back</button>
                            <button type="button" class="btn btn-border w-100" (click)="selectedItem = ''">Access
                                Report</button>
                        </div>
                    </div>
                    <div *ngIf="selectedItem !== cardItem" >
                        <div class="row card-blue d-flex w-100 mx-auto p-2">
                            <p class="w-75 my-auto">{{cardItem.name}}</p>
                            <span class="ml-auto">
                                <p class="daily-button mb-2">Daily</p>
                                <img src="../../../assets/chart.png">
                            </span>
                            <p class="type-box"> {{cardItem.type}} </p>
                        </div>
                        <div class="row mx-auto w-100 my-auto">
                            <p class="description my-3 ">{{cardItem.description}}</p>
                            <div class="col-12 d-flex">
                                <button type="button" class="btn btn-grey ml-auto" data-toggle="modal"
                                    data-target="#myModal" (click)="selectedCard(cardItem)">Find out more</button>
                                <button class="btn btn-blue ml-auto">Access</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="w-100" *ngIf="cardData && cardData.length > 8">
                <button class="float-right mb-3 see-more mx-5" (click)="seeMoreOrLess()">{{seeMore?'See less ':'See more'}}</button>
            </div>
        </div>
    </div>
</div>
