html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Arial", "sans-serif";
}

@font-face {
    font-family: "titillium";
    src: local("titillium"), url(./assets/titillium/TitilliumWeb-Regular.ttf) format("truetype");
}

* {
    font-family: "titillium", Arial, Helvetica, sans-serif;

    ::-webkit-scrollbar {
        width: 5px;
        height: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #001cb0;
        border-radius: 50px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #7a7cab;
        border-radius: 50px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #7a7cab;
    }

    outline: none;
}

.site_wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -84px;
}

.toast {
    font-size: 0.85rem;
}

.btn-grey {
    width: 119px;
    height: 30px;
    background: #BBC5D5;
    color: #322A7D;
    border-radius: 7px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    &:hover {
        color: #7a7cab;
    }
}

.btn-blue {
    width: 119px;
    height: 30px;
    background: #001cb0;
    color: white;
    border-radius: 7px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    &:hover {
        color: white;
    }
}

.btn-border {
    background: transparent;
    color: #001cb0;
    border: 1px solid #001cb0;
    border-radius: 7px;
}

.btn-white-border {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    width: 119px;
    height: 40px;
    font-size: 13px;
    &:hover {
        color: white;
    }
}

.btn-transparent {
    background: transparent;
    color: #BBC5D5;
    font-size: 13px;
}
.btn-transparent:hover{
    color: #322A7D;
}

.border-bottom-custom {
    color: #322A7D;
    border-bottom: 3px solid #f6a623;
    border-radius: 0;
    font-weight: bold;
}

.btn {
    box-shadow: none !important;
}
.search{
    input{
        font-weight: normal;
        border-radius: 8px;
        border: 2px solid #001cb0;
        height: 2.3rem;
        padding: 0.5rem;
        padding-left: 2rem;
        color: #322A7D;
    }
    i { 
        position: absolute;
        padding: 12px;
        color: #001cb0;
    } 
}
