<div class="container-fluid p-0 d-flex">
    <app-sidebar></app-sidebar>
    <div class="container-fluid p-0 px-5">
        <div class="container-fluid">
            <div class="top-card">
                <div class="row w-100 mx-auto d-flex p-3">
                    <p class="my-auto ml-3">{{displayHeading}}</p>
                    <img class="ml-auto logo-top" src="../../../assets/logo.png">
                </div>
            </div>
        </div>
        <div class="container-fluid my-4 border-bottom">
            <ul class="nav">
                <li class="nav-item" *ngFor="let item of cardData; index as i">
                    <button type="button" class="btn btn-transparent font-14px" (click)="selectedItem(i,item.Category)"
                        [ngClass]="{'border-bottom-custom': i === selectedTab }">{{item.Category}}</button>
                </li>
                
            </ul>
        </div>
        <div class="container-fluid my-2">
            <div class="row mx-auto w-100">
                <div class="card card-details my-4 mr-auto" *ngFor="let item of selectedCardData; index as i">
                    <div class="row card-blue d-flex w-100 mx-auto p-2">
                        <p class="w-75 my-auto">{{item.SubCategory}}</p>
                        <span class="ml-auto d-flex">
                            <img class="my-auto" src="../../../assets/chart.png">
                        </span>
                        <p class="type-box">
                            {{item.SubCategoryType}}
                        </p>
                    </div>
                    <div class="row mx-auto my-auto w-100">
                        <p class="p-2 font-15px text-center mt-3">{{item.SubCategoryDescription}}</p>
                    </div>
                    <div class="row mx-auto w-100 my-auto mb-3">
                        <div class="col-12 d-flex my-1">
                            <button class="btn btn-blue mx-auto" (click)="goToReports(i)">Access</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>